<% if @notes.empty? %>
  <div class="jumbotron">
    <h1>3dmind will suppert your thinking.</h1>
    <p>Please open 3dmind, like when a brand-new note is opened. 
    This is a tool which helps your thinking. 
    You should just put the language thought of in order. 
    3dmind pulls out the capability with which your brain was equipped by nature to the utmost. 
    </p>
    <p>
    <%= back_to_link 'Open new note and think!', new_note_path, :class => "btn btn-primary btn-lg", :role=>"button" %>
    </p>
  </div>
<% else %>
  <div class="col-md-8">
  <div class="panel panel-default">
    <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="list-group">
    <% @notes.each do |note| %>
      <%=back_to_link note.note_title, note_path(note), :class => "list-group-item" %>
    <% end %>
  </div>
</div>
  <div class="list-group">
  <p>
  <%= back_to_link '<i class="glyphicon glyphicon-file"></i> New note'.html_safe, new_note_path, :class => "btn btn-primary btn-md", :role=>"button" %>
    </p>
  </div>
</div>
<% end %>

